*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;

}
body,html{
    scroll-behavior: smooth;
    transition: 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

body{
    background-color: #1B1B1B;
    transition: 0.3s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


/* navbar */

navbar{
    position: fixed;
    right: 0;
    top: 40%;
}


ul,li,a{
    text-decoration: none !important;
    list-style: none;
}
navbar ul li a::before{
    content: '';
    display:block;
    border-radius: 10px;
    width: 10px;
    height: 10px;
    padding: 6px;
    border: none;
    outline: none;
    background-color: #C0C0C0;
    transition: 0.6s all;
}
a::before {
    margin-top: 10px;
    margin-bottom:18px;
margin-right: 35px;
-webkit-user-drag: none;
-khtml-user-drag: none;
-moz-user-drag: none;
-o-user-drag: none;
/* user-drag: none; */

}
a:hover::before{
    
    background-color: #878383;
    padding: 10px;
}



/* navbar */


/* sec-1 */

#home h1{
    color: #A41C2E;
    text-align: center;
}
.box{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box h1{
    font-size: 5vw;
    user-select: none;
    font-weight:400;
    

}
.box p{
    color: #FFE338;
    user-select: none;

    font-size: 1.3vw;
}

/* sec-1 */



/* sec-2 */

.section-2{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center;
    
}

.sec2-box{
    width: 90%;
    margin: auto;
    padding: 90px 0; 
    user-select: none;
    border-radius: 30px;
        /* background: linear-gradient(145deg, #1e272e, #1e272e); */
        /* background-color: #1B1B1B;    */


                 /* box-shadow: 1px -2px 60px 19px, rgb(47, 47, 47) 1px -1px 20px 6px; */
}
.sec2-box h1{
    text-align: center; 
    letter-spacing: 10px;
    font-size: vw;

    color: white    ;
    user-select: none;
    /* -webkit-text-stroke: 0.5px rgb(154, 13, 159);  */
    /* -webkit-text-stroke-color: red; */

    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;

}
.sec2-box ul li{
    text-align: center;
    padding: 10px 0;
    color: #F2F3F4;
}
.sec2-box ul li:hover{
    color: #FFE338;
}
.sec2-box .cv{
    text-align: center;
}
.sec2-box .cv a{
    border: #F2F3F4 1px solid;
    padding: 8px;
    color: #C0C0C0;
    transition:1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.sec2-box .cv a:hover{
    background-color: #C0C0C0;

    color: #1B1B1B;
}

.sec2-box .cv a:hover span{
    text-transform: uppercase;

}


/* sec-2 */

/* .sec-3 */

.sec3-box{
    width: 90%;
    margin: auto;
    padding: 90px 0; 
    user-select: none;
    border-radius: 30px;
        /* background: linear-gradient(145deg, #1e272e, #1e272e); */
        /* background-color: #1B1B1B;    */


                 /* box-shadow: 1px -2px 60px 19px, rgb(47, 47, 47) 1px -1px 20px 6px; */
}


.section-3{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    
}
.sec3-box h1{
    text-align: center; 
    letter-spacing: 10px;
    color: white    ;
    font-size: 2vw;

    user-select: none;
    /* -webkit-text-stroke: 0.5px rgb(154, 13, 159);  */
    /* -webkit-text-stroke-color: red; */

    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
     padding: 20px 0;

}



.progs-1{
    border-bottom: 1px solid #FFE338;
    color: #C0C0C0;
    border-width: thick;
    margin-bottom: 15px;
    
    width: 70%;
    
}
.progs-2{
    border-bottom: 1px solid #FFE338;
    color: #C0C0C0;
    border-width: thick;
    width: 90%;
    /* padding-bottom: 15px; */
    margin-bottom: 15px;


}
.progs-3{
    border-bottom: 1px solid #FFE338;
    color: #C0C0C0;
    border-width: thick;
    width: 65%;
    /* padding-bottom: 15px; */
    margin-bottom: 15px;


    
}
.progs-4{
    border-bottom: 1px solid #FFE338;
    color: #C0C0C0;
    border-width: thick;
    width: 85%;
    /* padding-bottom: 15px; */
    margin-bottom: 15px;

    
}
.progs-5{
    border-bottom: 1px solid #FFE338;
    color: #C0C0C0;
    border-width: thick;
    width: 65%;
    /* padding-bottom: 15px; */
    margin-bottom: 15px;

    
}
.progs-6{
    border-bottom: 1px solid #FFE338;
    color: #C0C0C0;
    border-width: thick;
    /* padding-bottom: 15px; */
    margin-bottom: 15px;

    
    width: 65%;
}
.progs-7{
    border-bottom: 1px solid #FFE338;
    color: #C0C0C0;
    /* padding-bottom: 15px; */
    margin-bottom: 15px;

    
    border-width: thick;
    width: 80%;
}

.t1{
    width: 100%;
    color: #C0C0C0;
    margin: auto;
    text-align: left;
}
/* .sec-3 */


/* .sec-4 */

.sec4-box{
    width: 90%;
    margin: auto;
    padding: 90px 0; 
    user-select: none;
    border-radius: 30px;
        /* background: linear-gradient(145deg, #1e272e, #1e272e); */
        /* background-color: #1B1B1B;    */


                 /* box-shadow: 1px -2px 60px 19px, rgb(47, 47, 47) 1px -1px 20px 6px; */
}

.sec4-box h1{
    text-align: center; 
    letter-spacing: 10px;
    font-size: 2vw;

    color: white    ;
    user-select: none;
    /* -webkit-text-stroke: 0.5px rgb(154, 13, 159);  */
    /* -webkit-text-stroke-color: red; */

    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;

}

.section-4{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    color: white    ;
text-align: center;
padding: 20px 0;
}


/* .sec-4 */



/* .sec-5 */


.sec5-box{
    width: 90%;
    margin: auto;
    padding: 90px 0; 
    user-select: none;
    border-radius: 30px;
        /* background: linear-gradient(145deg, #1e272e, #1e272e); */
        /* background-color: #1B1B1B;    */


                 /* box-shadow: 1px -2px 60px 19px, rgb(47, 47, 47) 1px -1px 20px 6px; */
}


.section-5{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    
}

.sec5-box h1{
    text-align: center; 
    font-size: 2vw;

    letter-spacing: 10px;
    color: white    ;
    user-select: none;
    /* -webkit-text-stroke: 0.5px rgb(154, 13, 159);  */
    /* -webkit-text-stroke-color: red; */

    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;

}

.card-sec{
    color: #F2F3F4;
    padding: 20px 10px ;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
    word-wrap: break-word;
}


/* .sec-5 */
/* .sec-6 */



.section-6{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    
}

.sec6-box h1{
    text-align: center; 
    letter-spacing: 10px;
    color: white    ;
    user-select: none;

    /* -webkit-text-stroke: 0.5px rgb(154, 13, 159);  */
    /* -webkit-text-stroke-color: red; */
    font-size: 2vw;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;

}

.form-control{
}
textarea,input{
    width: 100% !important;
    background: none !important;
    resize: none !important;
    border: #C0C0C0 1px solid;
    padding: 10px;
    color: white;
}
button{
    background: none;
    border: 1px solid #C0C0C0 !important;
    border-radius: 0px !important;
    color: aliceblue !important;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
button:hover{
    background-color: #C0C0C0;
    color: #000 !important   ;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
}
::placeholder{
    color: white;
}


.line{
    display: none;
}
/* sec-6 */






/* /media query/ */


@media only screen and (max-width:900px){
    .section-1,.section-2,.section-3,.sec5-box,.sec6-box{
        width: 786px;
    }
    .box h1{
        font-size: 10vw;
        user-select: none;
        font-weight:400;
    
    }
    .box p{
        color: #FFE338;
        user-select: none;
    
        font-size: 2.9vw;
    }
    navbar{
        display: none;
    }
    .line{
        display: block;
    }
    

}   
@media only screen and (max-width:786px){
    
    .section-1,.section-2,.section-3,.sec5-box,.sec6-box{
        width: 600px;
    margin: auto !important;

    }
    
    .box h1{
        font-size: 15vw;

        user-select: none;
        font-weight:400;
    
    }
    .box p{
        color: #FFE338;
        user-select: none;
    
        font-size: 2.9vw;
    }
    navbar{
        display: none;
    }


.sec6-box h1,.sec-2-box h1,.sec3-box h1,.sec4-box h1,.sec5-box h1{
    font-size: 4vw !important;
}



#sec-h1{
    padding: 20px 0px;
    font-size: 4vw !important;
}


.line{
    display: block;
}
}


@media only screen and (max-width:600px){
.section-1,.section-2,.section-3,.sec5-box,.sec6-box{
    width: 480px;
    margin: auto !important;

}

#sec-h1{
    font-size: 4vw !important;
    padding: 20px 0px;

}

.sec6-box h1,.sec-2-box h1,.sec3-box h1,.sec4-box h1,.sec5-box h1{
    font-size: 4vw !important;
}

.line{
    display: block;
}    

}

@media only screen and (max-width:480px){
.section-1,.section-2,.section-3,.sec5-box,.sec6-box{
    width: 320px;
    margin: auto !important;

}
#sec-h1{
    font-size: 4vw !important;
    
}


.sec6-box h1,.sec-2-box h1,.sec3-box h1,.sec4-box h1,.sec5-box h1{
    font-size: 4vw !important;
}

.line{
    display: block;
}
    
}



.container{
    width: 90% !important;
    margin: auto !important;
}


::-ms-tooltip{
    transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}




/* color-change */

.color-change
{
    transition: 0.3s all cubic-bezier(0.175, 0.885, 0.32, 1.275);

    width: 200px;
    height: 90px;
    /* background-color: #3C4256; */
    background-color: RGBA(60,66,86,0.6);
    position: fixed;
    top: 40px;
    right: -148px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* transform: translateX(200px); */

}
.color-change .red{
    width: 30px;
    height: 30px;
    background-color: #A41C2E;
}
.color-change .green{
    width: 30px;
    height: 30px;
    background-color: #556B2E;
}
.color-change .blue{
    width: 30px;
    height: 30px;
    background-color: #006DB0;

}
.color-change .black{
    width: 30px;
    height: 30px;
    background-color: #1B1B1B;

}
.color-change{
    padding: 10px;

}
.color-change .close div{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;

}
.close{
    padding: 25px 0px;
}
/* 
.color-change .close div:first-child
{
    transform: rotate(45deg)translateY(10px);
}
.color-change .close div:nth-child(2){
    display: none;
}
.color-change .close div:last-child{
    transform: rotate(-45deg)translateY(-10px);
} */
/* .toggled{
   background-color: #006DB0;
   right: -145px;
   top: 40px;
} */
.ch1{
    transform: rotate(45deg)translateY(10px);
}
.ch2{
    display: none;
}
.ch3{
    transform: rotate(-45deg)translateY(-10px);

}
.toggled{
    right: 0px;
}
.t2{
    background-color: #A41C2E;
}







/* color-change */
